body{ background-color: red; }
.titulo {
  color: yellow;
  font-style: oblique;
  font-size: 70px;
  text-decoration: underline;
  text-align: center;
}

.subtitulo {
  color:blue;
}

.cierre {
  color:yellow;
  text-align: center;
}

.video {
  style;
}
.imagen {
  style;
  height: 515px;
  width: 525px;
}

.imagen2  {
  style;
  height: 640px;
  width: 640px;
  display: block;
  margin: 0 Auto;
}
