@import url('https://fonts.googleapis.com/css2?family=Agbalumo&family=Annie+Use+Your+Telescope&family=Satisfy&display=swap');

html{
  width: 100%;
}
body{
  background-color: #FFDF92;
  border:#9A4D19 ;
  width: 100%;
}
a{
  text-decoration: none;
}

/* encabezado  */
.contenedorheader{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 100%;
  height: auto;
  background-color: #d1986b;
  align-items: center;
  text-align: center;
}
.contenedorheader div{
  width: 350px;
  align-items: center;
}
.contenedorheader .redes img {
  width: 80px;
  height: 80px;
}
.contenedorheader .redes img:hover {
    width: 85px;
    height: 85px;
  }
.logo{
    width: 150px;
    height: 150px;
    padding: 20px;
}
.titulo {
  display: flex;
  flex-direction: row;
  color: #6674B3;
  font-size: 50px;
  text-align: center;
  /*font-family: "Annie Use Your Telescope"; */ 
  font-family: 'Montserrat';

}
.subtitulo {
  color: #FCB393;
  font-family: "Satisfy";
  font-size: 40px;
  text-align: center;
  padding: 20px;
}

/* navegador  */
.contenedornav{
  padding: 20px;
  border: 1px solid #9A4D19;
  background-color: #FCB393;
  height: auto;
  padding-bottom: 5px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;
  box-sizing: border-box;
  list-style: none;
}
.prov {
    width: 250px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    color: #9A4D19;
    position: relative;
  }
  .prov:not(:first-child)::before {
    content: "";
    width: 3px;
    height: 60%; 
    background-color: #000; 
    position: absolute;
    top: 20%; 
    left: 0;
  }

  .prov a p {
    font-family: "Satisfy";
    font-size: 25px;
    color: #9A4D19;
    text-align: center;
  }
  .prov:hover {
    font-size: 30px;
    background-color: #6674B3;
    text-align: center;
  }
.botonlm{
  display: flex;
  flex-direction: column;
  font-family: "Satisfy";
  font-size: 40px;
  background-color: #6674B3;
  font-size: 25px;
  color:#acb6e0;
}
.botonvn{
  display: flex;
  flex-direction: column;
  font-family: "Satisfy";
  font-size: 40px;
  background-color: #6674B3;
  font-size: 25px;
  color:#acb6e0;
  cursor: pointer;
}
button:not(:disabled) {
  cursor: pointer;
}
.logos{
    height: 60px;
    width: 60px;
    display: block;
    justify-content: space-between;
    justify-content: center;
}

/* main  */
section{
  width: 98%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}
section p{
  font-family: "Annie Use Your Telescope";
  font-size: 20px;
  padding: 20px;
  color: #000;
}
main{
  height: auto;
  display: flex;
  background-color: white;
  height: auto;
  width: 950px;
}
.img {
  background-color: #d1986b;
  padding: 25px;
}
.img img{
  height: 150px;
  width: 150px;
  flex-direction: row;
  justify-content: space-evenly;
}
ol li {
  font-family: "Annie Use Your Telescope";
  color: black;
  font-size: 30px;
  text-align: center;
}
ul li {
  font-family: "Annie Use Your Telescope";
  color: black;
  text-align: center;
  font-size: 30px;
}
.main p{
  font-size: 30px;
  color: black;
}

/* aside  */
.costado{
  background-color: #FCB393;
  width: 350px;
  height: auto;
}
.contenedorvideo{
  height: auto;
    width: 90%;
}
.video {
  border: 1px solid black;
  height: auto;
    width: 100%;
    margin-top: 40px;
    margin-left: 20px;
}
.costado h2 {
  color:#6674B3;
  font-size: 40px;
  font-family: "Satisfy";
}
.costado p {
  font-size: 30px;
  text-align: center;
  color: #9A4D19;
}
.elementocelu{
  display: none;
}
/* inicia version nocturna */
.darkvn{ /*igual como si fuera el body*/
background-color: #353333;
color:#fff;
} 
.darkvn .contenedorheader{
  background-color: #cedce7;
}
.darkvn .contenedornav{
  background-color: #cedce7;
}
.darkvn .main{
  background-color: #d1986b;
}
.darkvn .contenedorpie{
  background-color: darkslategrey;
}
.darkvn .costado{
  background-color: #d1986b;
}


/*cards*/

.wrapper {
  width: 90%;
  margin: 0 auto;
  max-width: 80rem;
}

.cols {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.col {
  width: calc(25% - 2rem);
  margin: 1rem;
  cursor: pointer;

}

.container {
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-perspective: 1000px;
  perspective: 1000px;
}

.front,
.back {
  background-size: cover;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  background-position: center;
  -webkit-transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
  transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
  -o-transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
  transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
  transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1), -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  text-align: center;
  min-height: 280px;
  box-shadow: 0 0 10px solid blue;
  height: auto;
  border-radius: 10px;
  color: #fff;
  font-size: 1.5rem;
}

.back {
  background: #cedce7;
  background: -webkit-linear-gradient(45deg, #cedce7 0%, #596a72 100%);
  background: -o-linear-gradient(45deg, #cedce7 0%, #596a72 100%);
  background: linear-gradient(45deg, #cedce7 0%, #596a72 100%);
}
.back .inner a {
  color:#9A4D19;
  font-family: 'Montserrat';
  font-weight: 300;

}
.front:after {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  content: '';
  display: block;
  opacity: .6;
  background-color: #000;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-radius: 10px;
}

.container:hover .front,
.container:hover .back {
  -webkit-transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
  transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
  -o-transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
  transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
  transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1), -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
}

.back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.inner {
  -webkit-transform: translateY(-50%) translateZ(60px) scale(0.94);
  transform: translateY(-50%) translateZ(60px) scale(0.94);
  top: 50%;
  position: absolute;
  left: 0;
  width: 100%;
  padding: 2rem;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  outline: 1px solid transparent;
  -webkit-perspective: inherit;
  perspective: inherit;
  z-index: 2;
  font-family: 'Montserrat';
}

.container .back {
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.container .front {
  -webkit-transform: rotateY(0deg);
  transform: rotateY(0deg);
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.container:hover .back {
  -webkit-transform: rotateY(0deg);
  transform: rotateY(0deg);
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.container:hover .front {
  -webkit-transform: rotateY(-180deg);
  transform: rotateY(-180deg);
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.front .inner p {
  font-size: 2rem;
  margin-bottom: 2rem;
  position: relative;
  font-family: 'Montserrat';
}

.front .inner p:after {
  content: '';
  width: 4rem;
  height: 2px;
  position: absolute;
  background: #C6D4DF;
  display: block;
  left: 0;
  right: 0;
  margin: 0 auto;
  bottom: -.75rem;
}

.front .inner a {
  color: rgba(234, 162, 191, 0.7);
  font-family: 'Montserrat';
  font-weight: 300;

}

@media screen and (max-width: 64rem) {
  .col {
      width: calc(33.333333% - 2rem);
  }
}

@media screen and (max-width: 48rem) {
  .col {
      width: calc(50% - 2rem);
  }
}

@media screen and (max-width: 32rem) {
  .col {
      width: 100%;
      margin: 0 0 2rem 0;
  }
}
.botellas{
  background-image: url(img/fondo.jpeg) ;
  width: 100%;
  height: auto;
  text-align: center;
}
.botellas img{
  align-items: center;
}
.botellas .backinicio{
  background-color: #acb6e0;
  font-family: "Annie Use Your Telescope";
  text-align: center;  
  height: auto;
  width: 100%;
}
.botellas .backinicio:hover{
  background-color: white;
  text-align: center;
  align-items: center;
}
.cocina{
  background-image: url(img/fondo.jpeg) ;
  width: 100%;
  height: auto;
  text-align: center;
}
.cocina img{
  align-items: center;
}
.cocina .backinicio{
  background-color: #acb6e0;
  font-family: "Annie Use Your Telescope";
  text-align: center;  
  height: auto;
  width: 100%;
}
.cocina .backinicio:hover{
  background-color: white;
  text-align: center;
  align-items: center;
}
.verano{
  background-image: url(img/fondo.jpeg) ;
  width: 100%;
  height: auto;
  text-align: center;
}
.verano img{
  align-items: center;
}
.verano .backinicio{
  background-color: #acb6e0;
  font-family: "Annie Use Your Telescope";
  text-align: center;  
  height: auto;
  width: 100%;
}
.verano .backinicio:hover{
  background-color: white;
  text-align: center;
  align-items: center;
}
.vasos{
  background-image: url(img/fondo.jpeg) ;
  width: 100%;
  height: auto;
  text-align: center;
}
.vasos img{
  align-items: center;
}
.vasos .backinicio{
  background-color: #acb6e0;
  font-family: "Annie Use Your Telescope";
  text-align: center;  
  height: auto;
  width: 100%;
}
.vasos .backinicio:hover{
  background-color: white;
  text-align: center;
  align-items: center;
}


/* pie de pagina  */
.contenedorpie{
  flex-wrap: wrap;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  background-color: #9A4D19;
  font-style: century gothic;
  font-size: 30px;
}
.logoflotante{
  color: green;
  width: 100px;
  height: 100px;
  bottom: 30px;
  position: fixed;
  right: 40px;
  background: none;
}
.logoflotante img:hover{
  color:palevioletred;
}
.social-media-icon {
  display: inline-block;
  margin: 0px;
  margin-left: 30px;
  width: 90px;
  height: 90px;
  border: 3px solid palevioletred;
  border-radius: 50%;
  text-align: center;
  color: palevioletred;
  padding: 0px 0px;
}
.social-media-icon:hover {
  background-color: black;
  color: white;
}
.social-media-icon i {
  line-height: 90px;
  font-size: 45px;
}
.mapa{
  width: 450px;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
.pie .m{
  width: 300px; 
  height: 187px;
  justify-content: center;
  align-items: center;
}
.subpie{
  width: 450px;
  height: auto;
  justify-content: center;
  align-items: center;
}
.redes { 
  flex-wrap: wrap;
  width: 450px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  padding: 20px;
}
.redes :hover{
   width: 12vh;
   height: 12vb;
}
.botoncreador{
  display: flex;
  font-family: "Satisfy";
  font-size: 40px;
  background-color: #6674B3;
  font-size: 25px;
  color:#acb6e0;
}

/* contacto  */
.pagcontacto {
  background-image: url(img/fondo.jpeg) ;
  width: 100%;
  height: auto;
  text-align: center;
}
.backinicio a p{
  background-color: #acb6e0;
  font-family: "Annie Use Your Telescope";
  text-align: center;  
  height: auto;
  width: 100%;
  font-size: 30px;
}
.backinicio a p:hover{
  background-color: white;
  text-align: center;
  align-items: center;
}
.contacto{
  background-color: #FFDF92;
background-image: url(img/fondo.jpeg);
background-size: 100%;
background-position: center;
  width: 100%;
  height: auto;
  text-align: center;
}
.pagcontacto p{
  font-size: 30px;
  text-align: center;
}

@media screen and (max-width:768px) {
  section{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }
  main{
    width: 740px;
    display: flex;
    flex-wrap: wrap;
  }
  .costado {
    width: 740px;
    background-color: #FCB393 380px;
    display: flex;
    flex-wrap: wrap;
  }
  .pie {
    width: 790px;
    display: flex;
    flex-wrap: wrap;
  }
}

@media screen and (max-width:400px) {
  section{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }
  main{
    width: 380px;
    display: flex;
    flex-wrap: wrap;
  }
  .costado {
    width: 380px;
    background-color: #FCB393 380px;
    display: flex;
    flex-wrap: wrap;
  }
  .pie {
    width: 390px;
    display: flex;
    flex-wrap: wrap;
  }
  .subpie .subtitulo{
    width: 350px;
    font-size: 25px;
  }
  .elementocelu{
    display: block;
  }
}