@import url('https://fonts.googleapis.com/css2?family=Agbalumo&family=Annie+Use+Your+Telescope&family=Satisfy&display=swap');

html{
  width: 99%;
}
body{
  background-color: #FFDF92;
  border:#9A4D19 ;
  width: 100%;
}
a{
  text-decoration: none;
}

/* encabezado  */
.contenedorheader{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 100%;
  height: auto;
  background-color: #d1986b;
  align-items: center;
  text-align: center;
}
.contenedorheader div{
  width: 350px;
  align-items: center;
}
.contenedorheader .redes img {
  width: 80px;
  height: 80px;
}
.contenedorheader .redes img:hover {
    width: 85px;
    height: 85px;
  }
.logo{
    width: 150px;
    height: 150px;
    padding: 20px;
}
.titulo {
  display: flex;
  flex-direction: row;
  color: #6674B3;
  font-size: 30px;
  text-align: center;
  font-family: "Annie Use Your Telescope";
}
.subtitulo {
  color: #FCB393;
  font-family: "Satisfy";
  font-size: 40px;
  text-align: center;
  padding: 20px;
}

/* navegador  */
.contenedornav{
  padding: 20px;
  border: 1px solid #9A4D19;
  background-color: #FCB393;
  height: auto;
  padding-bottom: 5px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;
  box-sizing: border-box;
  list-style: none;
}
.prov {
    width: 350px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    color: #9A4D19;
    position: relative;
  }
  .prov:not(:first-child)::before {
    content: "";
    width: 3px;
    height: 60%; 
    background-color: #000; 
    position: absolute;
    top: 20%; 
    left: 0;
  }

  .prov a p {
    font-family: "Satisfy";
    font-size: 25px;
    color: #9A4D19;
    text-align: center;
  }
  
  .prov:hover {
    font-size: 30px;
    background-color: #6674B3;
    text-align: center;
  }
.logos{
    height: 60px;
    width: 60px;
    display: block;
    justify-content: space-between;
    justify-content: center;
}
p{
  font-family: "Annie Use Your Telescope";
  font-size: 20px;
  padding: 20px;
  color: #000;
}
/* main  */
section{
  width: 98%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}
main{
  height: auto;
  display: flex;
  background-color: white;
  height: auto;
  width: 950px;
}
.img {
  background-color: #d1986b;
  padding: 25px;
}
.img img{
  height: 150px;
  width: 150px;
  flex-direction: row;
  justify-content: space-evenly;
}
ol li {
  font-family: "Annie Use Your Telescope";
  color: black;
  font-size: 30px;
  text-align: center;
}
ul li {
  font-family: "Annie Use Your Telescope";
  color: black;
  text-align: center;
  font-size: 30px;
}
.main p{
  font-size: 30px;
  color: black;
}

/* aside  */
.costado{
  background-color: #FCB393;
  width: 350px;
  height: auto;
}
.contenedorvideo{
  height: auto;
    width: 90%;
}
.video {
  border: 1px solid black;
  height: auto;
    width: 100%;
    margin-top: 40px;
    margin-left: 20px;
}
.costado h2 {
  color:#6674B3;
  font-size: 40px;
  font-family: "Satisfy";
}
.costado p {
  font-size: 30px;
  text-align: center;
  color: #9A4D19;
}
.elementocelu{
  display: none;
}

/*cards*/
.titulocard{
  color: white;
  font-family: "Satisfy";
  font-size: 40px;
  text-align: center;
  padding: 20px;
}
.cardtext{
  text-align: center;
  color: #FFDF92;
  font-size: 25px;
}

/* pie de pagina  */
.contenedorpie{
  flex-wrap: wrap;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  background-color: #9A4D19;
  font-style: century gothic;
  font-size: 30px;
}
.logoflotante{
  color: green;
  width: 100px;
  height: 100px;
  bottom: 30px;
  position: fixed;
  right: 40px;
  background: none;
}
.logoflotante img:hover{
  color:palevioletred;
}
.social-media-icon {
  display: inline-block;
  margin: 0px;
  margin-left: 30px;
  width: 90px;
  height: 90px;
  border: 3px solid palevioletred;
  border-radius: 50%;
  text-align: center;
  color: palevioletred;
  padding: 0px 0px;
}
.social-media-icon:hover {
  background-color: black;
  color: white;
}
.social-media-icon i {
  line-height: 90px;
  font-size: 45px;
}
.mapa{
  width: 450px;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
.pie .m{
  width: 300px; 
  height: 187px;
  justify-content: center;
  align-items: center;
}
.subpie{
  width: 450px;
  height: auto;
  justify-content: center;
  align-items: center;
}
.redes { 
  flex-wrap: wrap;
  width: 450px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  padding: 20px;
}
.redes :hover{
   width: 12vh;
   height: 12vb;
}

/* contacto  */
.contacto  {
  background-image: url(img/fondo.jpeg) ;
  width: 100%;
  height: auto;
  text-align: center;
}
.backinicio{
  background-color: #acb6e0;
  font-family: "Annie Use Your Telescope";
  text-align: center;  
  height: auto;
  width: 100%;
  position: absolute;
}
.backinicio:hover{
  background-color: white;
  text-align: center;
  align-items: center;
}
.contacto p{
  font-size: 30px;
}
@media screen and (max-width:800px) {
  section{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }
  main{
    width: 780px;
    display: flex;
    flex-wrap: wrap;
  }
  .costado {
    width: 780px;
    background-color: #FCB393 380px;
    display: flex;
    flex-wrap: wrap;
  }
  .pie {
    width: 790px;
    display: flex;
    flex-wrap: wrap;
  }
}

@media screen and (max-width:400px) {
  section{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }
  main{
    width: 380px;
    display: flex;
    flex-wrap: wrap;
  }
  .costado {
    width: 380px;
    background-color: #FCB393 380px;
    display: flex;
    flex-wrap: wrap;
  }
  .pie {
    width: 390px;
    display: flex;
    flex-wrap: wrap;
  }
  .subpie .subtitulo{
    width: 350px;
    font-size: 25px;
  }
  .elementocelu{
    display: block;
  }
}